@import "tailwindcss";

:root {
  --background: linear-gradient(to right bottom, #1e737e, #186b76, #13636d, #0d5b65, #06535d)
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c1c3d5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.edu-nsw-act-cursive-mainpara {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* globals.css (or your main stylesheet) */
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;          /* or your chosen weight */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* globals.css */
.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;           /* or whatever weight you prefer */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
